* {
    margin: 0;
    padding: 0;

}

/* header part starts */

.head-container {
    padding: 50px 140px 140px 140px;
}

.head-banner {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(#070211, rgba(7, 2, 17, 0.00)), url('./resources/Banner Image.png');
}

.head-banner p {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;
    padding: 177px 531px 0px 530px;
}

.head-banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
}

/* header part ends */

.happy-new-year2 {
    padding-bottom: 60px;
}

.container {
    text-align: center;
}

.container h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.container p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.container h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.container img {
    width: 802.9px;
    height: 500px;
}

.body-container2 {
    margin: 140px;
}

#party-body {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Vectorrr.png');
}

#party-body h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 552px 24px 126px;
}

#party-body p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    padding: 0px 497px 48px 126px;

}

.body-container2 img {
    float: right;
    width: 319.83px;
    height: 464.662px;
    padding-top: 70PX;
    padding-right: 40px;
    
    
}

#join-btn-p {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    padding: 0px 1059px 142px 158px;
}

.body-container3 {
    padding: 0px 140px 140px 140px;
}

#party-place-container {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
}

#party-place {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    padding: 100px 386px 48px 385px;
}

.font-coloring {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

#party-place-btn {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.body-container4 {
    padding: 0px 140px;
}

#offer-coming-container {}

#offer-coming {
    display: flex;
}

#offer-coming1 h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 75px;
    padding-bottom: 20px;
}

#offer-coming1 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 10px;




}

#offer-coming1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 393px;
    height: 128px;


}

p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;

}

#p1 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    height: 128px;
}

#offer-coming2 {
    align-items: center top;
}

#offer-coming2 img {
    width: 364.844px;
    height: 364.844px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 15px;
    margin: 0px 70px;
}

#offer-coming3 h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 50px;
}

#offer-coming3 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#offer-coming3 img {
    width: 140px;
    height: 140px;
    padding-top: 25px;
}

.body-container6 {
    padding: 140px 140px 140px 140px;
}

#photo-display-captions-p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

#photo-display-captions h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

#photo-display-captions p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}