* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

/* header part starts */

.head-container {
    padding: 50px 140px 140px 140px;
}

.head-banner {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(#070211, rgba(7, 2, 17, 0.00)), url('./resources/Banner Image.png');
    border-radius: 16px;

}

.head-banner p {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;
    padding: 177px 531px 0px 530px;
}

.head-banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
}

/* header part ends */

/* Container 1 starts Here */

.happy-new-year2 {
    padding-bottom: 60px;
}

.container {
    text-align: center;
}

.container h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
    transition: transform 0.3s ease;
}

.container h1:hover {
    transform: scale(1.05);
    color: blue;
}

.container p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.container h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.container img {
    width: 802.9px;
    height: 500px;
}

.body-container2 {
    margin: 140px;
}

#party-body {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Vectorrr.png');
    border-radius: 16px;

}

/* Container 1 ends Here */


#party-body h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.01px;
    padding: 126px 552px 24px 126px;
}

#party-body p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    padding: 0px 497px 28px 126px;

}

.body-container2 img {
    float: right;
    width: 319.83px;
    height: 464.662px;
    padding-top: 70PX;
    padding-right: 40px;


}

#join-btn-p {
    color: #f8f5f5;
    font-size: 20px;
    font-weight: 900;
    margin: 0px 0px 50px 125px;
    padding: 10px 20px;
    background-color: #171515;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

#join-btn-p:hover {
    background-color: #F00;
    transform: scale(1.04);
}

.body-container3 {
    padding: 0px 140px 140px 140px;
    border-radius: 16px;

}

#party-place-container {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    border-radius: 16px;

}

#party-place {
    text-align: center;
    color: #F00;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding: 120px 386px 48px 385px;
}

.font-coloring {
    color: #0d0d0e;
    ;
    text-align: center;
    font-weight: 600;
}

#party-place-btn {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    transition: transform 0.2s ease;
}

#party-place-btn:hover {
    transform: scale(1.03);
    background-color: rgb(79, 35, 197);
}

.body-container4 {
    padding: 0px 140px;
}



#offer-coming {
    display: flex;
}

#offer-coming1 h2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding-top: 75px;
    padding-bottom: 20px;
}

#offer-coming1 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 10px;

}

#offer-coming1 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 393px;
    height: 128px;


}

p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;

}

#p1 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    height: 128px;
}

#offer-coming2 {
    align-items: center top;
}

#offer-coming2 img {
    width: 364.844px;
    height: 364.844px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 15px;
    margin: 0px 70px;
}

#offer-coming3 h1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    padding-top: 50px;
}

#offer-coming3 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#offer-coming3 img {
    width: 140px;
    height: 140px;
    padding-top: 12px;
}



.body-container6 {
    padding: 140px 140px 0px 140px;
}

#photo-display-captions-p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

#photo-display-captions h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

#photo-display-captions p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 80%;
    padding-bottom: 48px;
}

.photos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photos-container img {
    width: 32.333%;
    height: auto;
    transition: transform 0.3s ease;

}

#photo-part1 {
    padding-bottom: 17px;
}

.photos-container img:hover {
    transform: scale(1.05);
}


.body-container7 {
    margin: 140px 140px 140px 140px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}

.body-container7 img {
    padding-bottom: 40px;
    padding-top: 80px;
}

.body-container7 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.body-container7 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 915px;
    padding-left: 200px;
    padding-bottom: 30px;
}

.body-container7 input {
    width: 348px;
    height: 62px;
    border-radius: 50px 0px 0px 50px;
    padding: 0 4px;
    border: none;

}

.body-container7 ::placeholder {
    padding-left: 30px;
    font-size: 20px;
}

.body-container7 button {
    width: 180px;
    height: 62px;
    border-radius: 0 50px 50px 0;
    border: 1px solid  #F00;
    background-color: #F00;
    font-size: 20px;
    font-weight: 500;
    transition: transform .3s ease;
    margin-left: -5px;
    vertical-align: middle;
}

.body-container7 button:hover {
    background-color: green;
    color: white;
    transform: scale(1.05);
}

footer {
    background: #070211;
}

#footer-contact {
    display: flex;
    justify-content: space-between;
}

#footer-contact div {
    padding-left: 250px;
    padding-top: 70px;
    padding-right: 290px;
    padding-bottom: 40px;
}

#footer-contact div p {
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    
}

#footer-contact div img{

    margin-right: 10px;
}

hr {
    color: #e4d7d7;
}

#footer-icon {
    text-align: center;
    gap: 15px;
}

#footer-icon img{
    margin-right: 13px;
}

#footer-icon img:last-child{
    margin-right: 0;
}
#last-part {
    display: flex;
    padding-left: 160px;
    padding-right: 220px;
    padding-bottom: 50px;
    justify-content: space-between;
}

#last-part p {
    color: wheat;
    font-size: 17px;
}

hr{
    width: 1200px;
    margin-left: 10%;
}